# Unreal transient folders
/Binaries
DerivedDataCache
Saved
Intermediate

# Common file types
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
*.vcxproj.user
*.pdb

# Compiled source files for the engine to use

# Generated solution project files
InteractMLUE.sln