Binaries
DerivedDataCache
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Compiled source files for the engine to use
Intermediate/*
Plugins/KantanAutoJson/
